body {
    background-image: url(/assets/github-page-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 5%;
    margin: 0px;
}

header {
    border: #353535 solid 3px;
    background-color: #353535;
    color: #f1f1f1;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    text-align: right;
    user-select: none;
}

#home, #aboutme, #othercontent {
    border: #353535 solid 3px;
    border-radius: 10px;
    background: #f1f1f1;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    user-select: none;
    display: block;
    animation: mySlide;
    animation-duration: 1s;
    animation-timing-function: ease;
}

#titlebar {
    border: #353535 solid;
    background: #353535;
    padding: 25px;
}

#misc {
    border: none;
    font-family: sans-serif;
}

a:link {
    color: #f1f1f1;
    text-decoration: none;
}

a:hover {
    color: #8dafd4;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #353535;
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #353535;
    font-size: 50px;
    font-weight: 400;
}

h3 {
    font-family: sans-serif;
    color: #353535;
    font-size: 35px;
    font-weight: 400;
}

h4 {
    font-family: sans-serif;
    color: #353535;
    font-size: 25px;
    font-weight: 400;
}

h5 {
    font-family: sans-serif;
    color: #353535;
    font-size: 15px;
    font-weight: 400;
}

button {
    border: none;
    background: none;
    font-size: 15px;
}

@keyframes mySlide{
    from{margin-top: 15%; opacity: 0%;}
    to{margin-top: 10%; opacity: 100%;}
}